@import "../normalize.css";

@import "./utils/_variables.scss";

@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}


body {
    background: url("../images/background.jpg") repeat-x;
    background-attachment: fixed;
    font-family: 'Roboto Medium', sans-serif;
}

header {
    text-align: center;
    background-color: $color-neutral;
    padding: 1.5rem 0 0.5rem 0;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 10%);
    img {
        height: 2rem;
    }
    i {
        position: absolute;
        left: 30px;
        font-size: 1.5rem;
        color: black;
    }
}

  /* -------------------------------------------------- MAIN - INTRODUCTION -------------------------------------------------- */

.Localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    font-size: 1.3rem;
    padding: 1rem 0;

    i {
        margin-right: 1.2rem;
    }

    input {
        background: none;
        border: none;
        width: 170px;
    }
}

.Introduction {
    background-color: $background-grey;
    text-align: center;
    padding: 1.5rem 0 3rem 0;

     p {
        font-family: 'Roboto Light', sans-serif;
        font-size: 1.5rem;
    }

    input {
        color: $color-neutral;
        font-size: 1.2rem;
        border: none;
        background: linear-gradient(175deg, $color-secondary, $color-primary);
        height: 4rem;
        width: 16rem;
        border-radius: 30px;
        margin: 1rem 0;
        box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    }
}

  /* -------------------------------------------------- MAIN - FUNCTIONING -------------------------------------------------- */

.Functioning {
    max-width: 1376px; /* 1440px - 64 (padding 2rem x2) */
    margin: auto;
    background-color: $color-neutral;
    padding: 3rem 2rem 4rem 2rem;

    &__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1000px;
        margin: auto;
    @media screen and (max-width: 1023px) {
        max-width: 300px;         
        }
    }

    &__button-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        padding: 0 1rem 0 2.2rem;
        margin-bottom: 1.5rem;
        width: 15rem;
        height: 4.5rem;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);

        i {
            color: #7e7e7e;
            font-size: 1.3rem;
            margin-right: 1rem;
        }

        p:nth-child(1) {
            position: absolute;
            left: -10px;
            background-color: $color-primary;
            color: $color-neutral;
            padding: 5px 10px;
            border-radius: 20px;
        }

        &:hover {
            background-color: rgb(147 86 220 / 10%);
        }
    }
}

    /* -------------------------------------------------- MAIN - RESTAURANTS -------------------------------------------------- */

.Restaurants {
    max-width: 1376px; /* 1440px - 64 (padding 2rem x2) */
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: $background-grey;
    padding: 2.5rem 2rem 4rem 2rem;
    
    &__bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        &__tile {
            position: relative;
            height: 15rem;
            width: clamp(13rem, 22%, 45rem);
            background-color: $color-neutral;
            border-radius: 20px;
            box-shadow: 0px 13px 10px 0px rgb(0 0 0 / 7%);
            text-decoration: none;
            margin-bottom: 1rem;
        @media screen and (max-width: 1023px) {
                width: 47%;          
        }
        @media  screen and (max-width: 599px) {
                width: 100%; 
        }
            img {
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }

            &--tag {
                position: absolute;
                top: 0;
                right: 15px;
                color: #008766;
                background: $color-turquoise;
                padding: 6px 13px;
                border-radius: 3px;
            }

            &__text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: black;
                padding: 0 20px 0 15px;

                h3 {
                    margin: 0.5rem 0 0.3rem 0;
                }
                  
                p {
                    margin: 0;
                    font-family: 'Roboto Light', sans-serif;
                }
                  
                i {
                    font-size: 1.5rem;
                }
            }
        }
    }   
}

  /* -------------------------------------------------- FOOTER -------------------------------------------------- */

footer {
    background-color: #343434;
    padding: 0.5rem 1rem 1rem 1rem;
    color: $color-neutral;

    section {
        max-width: 1440px;
        margin: auto;
        text-align: center;
    @media  screen and (max-width: 599px) {
        text-align: left;
    }
    }
      
    h4 {
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    p {
        margin-top: 0;
    }
}

.Footer__category {
    display: flex;
    align-items: baseline;
    justify-content: center;
    i {
        margin-right: 10px;
}
@media  screen and (max-width: 599px) {
    justify-content: left;
} 
}

  /* ---------------------------------------------------------------------------------------------------------
  -------------------------------------------------- PAGES MENUS -------------------------------------------------- 
  --------------------------------------------------------------------------------------------------------- */

.Bannier {
    max-width: 1440px;
    margin: auto;
    img {
        width: 100%;
        max-height: 25rem;
        object-fit: cover;
    }
}

.Menu {
    max-width: 1344px; /* 1440px - 96 (padding 3rem x2) */
    margin: auto;
    background-color: $background-grey;
    border-radius: 80px;
    position: relative;
    margin-top: -3rem;
    border-radius: 50px 50px 0 0;
    padding: 1rem 3rem;

    &__bloc {
        display: flex;
        justify-content: space-between;

        &__tile {
            background-color: $color-neutral;
            box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
            width: 25rem;
        }
    }
}


    

