@import "../normalize.css";

@import "./utils/_variables.scss";

@import "./components/_heart.scss";
@import "./components/_buttons.scss";
@import "./components/_animations.scss";

@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}


body {
    background: $linear-gradient;
    font-family: 'Roboto Medium', sans-serif;
}

h1, h2, h3, h4, {
    font-weight: normal;
  }

header {
    width: auto;
    text-align: center;
    background-color: $color-neutral;
    padding: 1.5rem 0 0.5rem 0;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 10%);
    
    img {
        height: 2rem;
    }

    i {
        position: absolute;
        left: 30px;
        font-size: 1.5rem;
        color: black;
    }
}

  /* -------------------------------------------------- MAIN - INTRODUCTION -------------------------------------------------- */

.Localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    background-color: #eaeaea;
    font-size: 1.3rem;
    padding: 1rem 0;

    i {
        margin-right: 1.2rem;
    }

    input {
        background: none;
        border: none;
        width: 170px;
    }
}

.Introduction {
    background-color: $background-grey;
    text-align: center;
    max-width: 1440px;
    margin: auto;
    padding: 1.5rem 0 3rem 0;

    p {
        font-family: $font-robotoL;
        font-size: 1.5rem;
    }
}


  /* -------------------------------------------------- MAIN - FUNCTIONING -------------------------------------------------- */

.Functioning {
    max-width: 1376px; /* 1440px - 64 (padding 2rem x2) */
    margin: auto;
    background-color: $color-neutral;
    padding: 3rem 2rem 4rem 2rem;

    &__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1000px;
        margin: auto;
    @media screen and (max-width: 1023px) {
        max-width: 300px;         
        }
    }

    &__button-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        z-index: 1;
        padding: 0 1rem 0 2.2rem;
        margin-bottom: 1.5rem;
        width: 15rem;
        height: 4.5rem;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);

        i {
            color: #7e7e7e;
            font-size: 1.3rem;
            margin-right: 1rem;
        }

        p:nth-child(1) {
            position: absolute;
            left: -10px;
            background-color: $color-primary;
            color: $color-neutral;
            padding: 5px 10px;
            border-radius: 20px;
        }

        &:hover {
            &::before {
                opacity: 0.1;
                box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
            }

            i {
                color: $color-primary;
            }
        }
    
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        border-radius: 20px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $color-primary;
        opacity: 0;
        transition: opacity 250ms;
    }
    }
}

    /* -------------------------------------------------- MAIN - RESTAURANTS -------------------------------------------------- */

.Restaurants {
    max-width: 1376px; /* 1440px - 64 (padding 2rem x2) */
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: $background-grey;
    padding: 2.5rem 2rem 4rem 2rem;
    
    &__bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        &__tile {
            position: relative;
            height: 15rem;
            width: clamp(13rem, 22%, 45rem);
            background-color: $color-neutral;
            border-radius: 20px;
            box-shadow: 0px 13px 10px 0px rgb(0 0 0 / 7%);
            text-decoration: none;
            margin-bottom: 1rem;
        @media screen and (max-width: 1023px) {
                width: 47%;          
        }
        @media  screen and (max-width: 599px) {
                width: 100%; 
        }
            img {
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }

            &--tag {
                position: absolute;
                top: 0;
                right: 15px;
                color: #008766;
                background: $color-turquoise;
                padding: 6px 13px;
                border-radius: 3px;
            }

            &__text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: black;
                padding: 0 20px 0 15px;

                h3 {
                    margin: 0.5rem 0 0.3rem 0;
                }
                  
                p {
                    margin: 0;
                    font-family: $font-robotoL;
                }
            }
        }
    }   
}

  /* -------------------------------------------------- FOOTER -------------------------------------------------- */

footer {
    background-color: #343434;
    padding: 0.5rem 1rem 1rem 1rem;
    color: $color-neutral;

    section {
        max-width: 1440px;
        margin: auto;
        text-align: center;
    @media  screen and (max-width: 599px) {
        text-align: left;
    }
    }
      
    h4 {
        font-family: $font-shrikhand;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    p {
        margin-top: 0;
    }

    a {
        text-decoration: none;
        color: $color-neutral;
    }
}

.Footer__category {
    display: flex;
    align-items: baseline;
    justify-content: center;
    i {
        margin-right: 10px;
    }
@media  screen and (max-width: 599px) {
    justify-content: left;
} 
}

  /* ---------------------------------------------------------------------------------------------------------
  -------------------------------------------------- PAGES MENUS -------------------------------------------------- 
  --------------------------------------------------------------------------------------------------------- */

.Bannier {
    max-width: 1440px;
    margin: auto;
    img {
        width: 100%;
        max-height: 25rem;
        object-fit: cover;
    }
}

.Menu {
    display: flex;
    flex-direction: column;
    max-width: 1344px; /* 1440px - 96 (padding 3rem x2) */
    margin: auto;
    background-color: $background-grey;
    position: relative;
    margin-top: -3rem;
    border-radius: 50px 50px 0 0;
    padding: 1rem 3rem;

    &__title {
        position: relative;
        align-self: center;
        width: 25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Shrikhand', sans-serif;
    }

    &__bloc {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        article {
            width: clamp(8rem, 30%, 40rem);
        
        @media screen and (max-width: 1199px) {
            width: 100%;
         
        }
        }

        h2 {
            font-family: $font-robotoL;
            margin-bottom: 0;
        }

        &__tile  {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            overflow: hidden;
            background-color: $color-neutral;
            box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
            border-radius: 20px;
            padding: 15px 0 15px 15px;
            margin-bottom: 1rem;
            animation-name: Menu_bloc_tile;
            animation-duration: 1000ms;
            cursor: pointer;

            .test {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            h3 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 8px 0 0 0;
                font-family: $font-robotoL;
            }

            span {
                padding-left: 10px;
                margin-right: 15px;
                transition-property: margin-right;
            }
                    
            &--cross {
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(70px);
                transition-property: transform;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-neutral;
                background-color: $color-turquoise;
                width: 70px;
                height: 100%;
            }

            &:hover {
                & span {
                    margin-right: 90px;
                }

                & .Menu__bloc__tile--cross {
                    transform: translateX(0px);
                }

                & .fas {
                    transform: rotate(1turn);
                }
            }

        }
    
        @media screen and (max-width: 1199px) {
        justify-content: center; 
        max-width: 800px;
        margin: auto;
        }
    }
@media screen and (max-width: 1199px) {
    padding: 1rem 1.5rem;
}
}

.Border-bottom {
    background-color: $color-turquoise;
    height: 5px;
    width: 60px;
    margin: 0.5rem 0 1.5rem 0;
}


