.button {
    align-self: center;
    color: $color-neutral;
    font-size: 1.2rem;
    border: none;
    background: $linear-gradient;
    height: 4rem;
    width: 16rem;
    border-radius: 30px;
    margin: 1rem 0;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    position: relative;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 0.2;
            box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 70%);
        }
    }

    &::after {
        content: "";
        position: absolute;
        border-radius: 30px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}