.Heart {
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
    
    .Like {
        transition: opacity 700ms ;
    }

    .Like--linear-gradient {
        position: absolute;
        right: 0;
        background: $linear-gradient;
        -webkit-background-clip: text;
        color: transparent;
        transition: opacity 1000ms ;
        opacity: 0;
    }

    &:hover {
        & .Like--linear-gradient {
            opacity: 1;
            transform: scale(1);
        }

        & .Like {
            opacity: 0;
        }
    }
}